<div class="container">
  <h2>Closest Electric Fuel Station</h2>

  <ul class="station">

    <li id="name">
      Name: <%= @station.name %>
    </li>

    <li id="address">
      Address: <%= @station.address %>
    </li>

    <li id="fuel-type">
      Fuel Type: <%= @station.fuel_type %>
    </li>

    <li id="access-times">
      Access Times: <%= @station.access_times %>
    </li>

    <li id="distance">
      Distance: <%= @station.distance %>
    </li>

    <li id="travel-time">
      Travel Time: <%= @station.travel_time %>
    </li>

    <li id="directions">
      Directions: <%= @station.directions %>
    </li>

  </ul>

</div>
